Partie_2_ClassificationComposants/3-NodeRED/flows.json
[
    {
        "id": "flow1",
        "type": "tab",
        "label": "Comptage Composants",
        "disabled": false,
        "info": "Flow Node-RED pour compter les composants électroniques détectés par l'Arduino"
    },
    {
        "id": "serial_in",
        "type": "serial in",
        "z": "flow1",
        "name": "Arduino Serial",
        "serial": "serial_port",
        "x": 120,
        "y": 200,
        "wires": [["parse_data"]]
    },
    {
        "id": "serial_port",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "parse_data",
        "type": "function",
        "z": "flow1",
        "name": "Parser données",
        "func": "// Format reçu : 'classe,confiance'  ex: 'capacitor,0.87'\nvar raw = msg.payload.trim();\n\n// Ignorer les lignes de debug (commencent par '[')\nif (raw.startsWith('[') || raw.startsWith('=') || raw.startsWith('-') || raw.startsWith(' ')) {\n    return null;\n}\n\nvar parts = raw.split(',');\nif (parts.length < 2) return null;\n\nvar classe = parts[0].trim().toLowerCase();\nvar confiance = parseFloat(parts[1]);\n\n// Ignorer unknown et valeurs invalides\nif (classe === 'unknown' || isNaN(confiance)) return null;\n\nmsg.classe = classe;\nmsg.confiance = confiance;\nmsg.payload = classe;\n\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 200,
        "wires": [["switch_classe", "debug_out"]]
    },
    {
        "id": "debug_out",
        "type": "debug",
        "z": "flow1",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 310,
        "y": 300,
        "wires": []
    },
    {
        "id": "switch_classe",
        "type": "switch",
        "z": "flow1",
        "name": "Switch classe",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "capacitor", "vt": "str"},
            {"t": "eq", "v": "diode", "vt": "str"},
            {"t": "eq", "v": "resistor", "vt": "str"},
            {"t": "eq", "v": "transistor", "vt": "str"}
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 510,
        "y": 200,
        "wires": [
            ["counter_capacitor"],
            ["counter_diode"],
            ["counter_resistor"],
            ["counter_transistor"]
        ]
    },
    {
        "id": "counter_capacitor",
        "type": "function",
        "z": "flow1",
        "name": "Compteur Capacitor",
        "func": "var count = context.get('count') || 0;\ncount++;\ncontext.set('count', count);\nmsg.payload = count;\nreturn msg;",
        "outputs": 1,
        "x": 730,
        "y": 100,
        "wires": [["display_capacitor", "gauge_capacitor"]]
    },
    {
        "id": "counter_diode",
        "type": "function",
        "z": "flow1",
        "name": "Compteur Diode",
        "func": "var count = context.get('count') || 0;\ncount++;\ncontext.set('count', count);\nmsg.payload = count;\nreturn msg;",
        "outputs": 1,
        "x": 730,
        "y": 180,
        "wires": [["display_diode", "gauge_diode"]]
    },
    {
        "id": "counter_resistor",
        "type": "function",
        "z": "flow1",
        "name": "Compteur Resistor",
        "func": "var count = context.get('count') || 0;\ncount++;\ncontext.set('count', count);\nmsg.payload = count;\nreturn msg;",
        "outputs": 1,
        "x": 730,
        "y": 260,
        "wires": [["display_resistor", "gauge_resistor"]]
    },
    {
        "id": "counter_transistor",
        "type": "function",
        "z": "flow1",
        "name": "Compteur Transistor",
        "func": "var count = context.get('count') || 0;\ncount++;\ncontext.set('count', count);\nmsg.payload = count;\nreturn msg;",
        "outputs": 1,
        "x": 730,
        "y": 340,
        "wires": [["display_transistor", "gauge_transistor"]]
    },
    {
        "id": "display_capacitor",
        "type": "ui_text",
        "z": "flow1",
        "group": "dashboard_group",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "Capacitor Count",
        "label": "🔵 Condensateurs",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 970,
        "y": 100,
        "wires": []
    },
    {
        "id": "display_diode",
        "type": "ui_text",
        "z": "flow1",
        "group": "dashboard_group",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Diode Count",
        "label": "🟠 Diodes",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 970,
        "y": 180,
        "wires": []
    },
    {
        "id": "display_resistor",
        "type": "ui_text",
        "z": "flow1",
        "group": "dashboard_group",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "Resistor Count",
        "label": "🟢 Résistances",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 970,
        "y": 260,
        "wires": []
    },
    {
        "id": "display_transistor",
        "type": "ui_text",
        "z": "flow1",
        "group": "dashboard_group",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "Transistor Count",
        "label": "🔴 Transistors",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 970,
        "y": 340,
        "wires": []
    },
    {
        "id": "gauge_capacitor",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Gauge Capacitor",
        "group": "dashboard_group",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Condensateurs",
        "label": "unités",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": ["#0000ff", "#00aaff", "#0000ff"],
        "seg1": "",
        "seg2": "",
        "x": 970,
        "y": 140,
        "wires": []
    },
    {
        "id": "gauge_diode",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Gauge Diode",
        "group": "dashboard_group",
        "order": 6,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Diodes",
        "label": "unités",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": ["#ff8800", "#ffaa00", "#ff8800"],
        "seg1": "",
        "seg2": "",
        "x": 970,
        "y": 220,
        "wires": []
    },
    {
        "id": "gauge_resistor",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Gauge Resistor",
        "group": "dashboard_group",
        "order": 7,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Résistances",
        "label": "unités",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": ["#00aa00", "#00ff00", "#00aa00"],
        "seg1": "",
        "seg2": "",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "gauge_transistor",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Gauge Transistor",
        "group": "dashboard_group",
        "order": 8,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Transistors",
        "label": "unités",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": ["#ff0000", "#ff4444", "#ff0000"],
        "seg1": "",
        "seg2": "",
        "x": 970,
        "y": 380,
        "wires": []
    },
    {
        "id": "reset_button",
        "type": "ui_button",
        "z": "flow1",
        "name": "Reset compteurs",
        "group": "dashboard_group",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "🔄 Remettre les compteurs à zéro",
        "tooltip": "",
        "color": "",
        "bgcolor": "#e74c3c",
        "icon": "",
        "x": 120,
        "y": 400,
        "wires": [["reset_function"]]
    },
    {
        "id": "reset_function",
        "type": "function",
        "z": "flow1",
        "name": "Reset tous compteurs",
        "func": "// Remet tous les compteurs à 0\nvar nodes = ['counter_capacitor', 'counter_diode', 'counter_resistor', 'counter_transistor'];\n\n// Reset via contexte global\nglobal.set('cap_count', 0);\nglobal.set('dio_count', 0);\nglobal.set('res_count', 0);\nglobal.set('tra_count', 0);\n\nmsg.payload = 0;\nreturn [msg, msg, msg, msg];",
        "outputs": 4,
        "x": 350,
        "y": 400,
        "wires": [
            ["display_capacitor", "gauge_capacitor"],
            ["display_diode", "gauge_diode"],
            ["display_resistor", "gauge_resistor"],
            ["display_transistor", "gauge_transistor"]
        ]
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "Comptage Composants",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Composants",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
